<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <a mat-button routerLink="/" color="accent">
      <span class="app-title">MovieApp</span>
    </a>

    <a mat-button routerLink="/" color="accent">
      Home
    </a>

    <a mat-button routerLink="/search" color="accent">
      Search
    </a>
  </div>


  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end center">
    
     <button *ngIf="isLoggedin()" mat-icon-button color="accent" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <a *ngIf="isLoggedin()" mat-button routerLink="/reservations" color="accent" >
      Reservations
    </a>
    <a *ngIf="!isLoggedin()" mat-raised-button routerLink="/login" color="accent">
      Login
    </a>

    <a *ngIf="isLoggedin()" mat-button routerLink="/profile" color="accent" >
      Profile
    </a>

    <button mat-button color="warn" (click)="logout()" *ngIf="isLoggedin()">
      Logout
    </button>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>